/*  ------------------------ Fonts ------------------------ */
@font-face {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-style: normal;
    src: url('path/to/fonts/JosefinSans-Regular.woff2') format('woff2'),
         url('path/to/fonts/JosefinSans-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-style: normal;
    src: url('path/to/fonts/JosefinSans-Bold.woff2') format('woff2'),
         url('path/to/fonts/JosefinSans-Bold.woff') format('woff');
}
/*  -------------------------- End Fonts ------------------------- */
       
/* ------------------------ RESETS ------------------- */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#root, #__next {
  isolation: isolate;
}
/* ------------------------ END RESETS ------------------- */

/* ------------------------ Global styles ------------------- */



/* ------------------------ Colors ------------------- */
:root {
    /* Primary */
    --color-bright-blue: hsl(220, 98%, 61%);
    --color-check-background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

    /* Light Theme */
    --color-very-light-gray: hsl(0, 0%, 98%);
    --color-very-light-grayish-blue: hsl(236, 33%, 92%);
    --color-light-grayish-blue: hsl(233, 11%, 84%);
    --color-dark-grayish-blue: hsl(236, 9%, 61%);
    --color-very-dark-grayish-blue: hsl(235, 19%, 35%);

    /* Dark Theme */
    --color-very-dark-blue: hsl(235, 21%, 11%);
    --color-very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --color-light-grayish-blue-dark: hsl(234, 39%, 85%);
    --color-light-grayish-blue-hover: hsl(236, 33%, 92%);
    --color-dark-grayish-blue-dark: hsl(234, 11%, 52%);
    --color-very-dark-grayish-blue-dark-1: hsl(233, 14%, 35%);
    --color-very-dark-grayish-blue-dark-2: hsl(237, 14%, 26%);
}
/* ------------------------ END Colors ------------------- */

/* .todo-app {
  background-image: url(images/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  padding: 4.375rem 28.125rem 0 28.125rem;
  width: 100%;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}
.header h1 {
  font-size: 2.5rem;
  color: var(--color-very-light-gray); 
}
.header img {
  width: 21px;
  height: 21px;
}

.new-todo {
  width: 100;
  max-width: 540px;
  height: 64px;
  padding: 1.438rem 19.5rem 1.438rem 4.5rem;
  margin-bottom: 1.5rem;
}
ul[aria-labelledby="todo-list"] {
  background-color: var(--color-very-light-gray);
  width: 540px;
  height: 439px;
  list-style-type: none; 
  padding: 0;
  margin: 0;
  border-radius: 8px; 
  overflow-y: auto; 
}

ul[aria-labelledby="todo-list"] li {
  display: flex;
  align-items: center;
  padding: .625rem 1.25rem;
  font-size: 1.125rem;
  color: var(--color-very-dark-grayish-blue);
  border-bottom: 1px solid  var(--color-very-light-grayish-blue);
}

ul[aria-labelledby="todo-list"] input[type="checkbox"] {
  margin-right: 1.5rem; 
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid var(--color-very-light-grayish-blue);
}
.todo-footer {
  display: flex;
  width: 540px;
  cursor: pointer;
  background-color: var(--color-very-light-gray);
}

.todo-footer p {
  font-size: 0.875rem;
  margin: 0 6rem 1rem 1.5rem;
  color: #9495A5;
  font-weight: 400;

}

 button {
  font-size: 0.875rem;
  border: none;
  color: #9495A5;
  font-weight: 700;
  cursor: pointer;
  background: var(--color-very-light-gray);
}
.blue-btn {
  color: var(--color-bright-blue);
}
.btn-margin {
  margin-right: 3.5rem;
}
.btn-clear {
  color: #9495A5;
  font-weight: 400;
} */

