/*  ------------------------ Fonts ------------------------ */
@font-face {
    font-family: 'Josefin Sans';
    font-weight: 400, 700;
    font-style: normal;
    src: url('path/to/fonts/JosefinSans-Regular.woff2') format('woff2'),
         url('path/to/fonts/JosefinSans-Regular.woff') format('woff');
}
/*  -------------------------- End Fonts ------------------------- */
       
/* ------------------------ RESETS ------------------- */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
ul {
  list-style-type: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

#root, #__next {
  isolation: isolate;
}
/* ------------------------ END RESETS ------------------- */

/* ------------------------ Colors ------------------- */
:root {
    /* Primary */
    --color-bright-blue: hsl(220, 98%, 61%);
    --color-check-background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

    /* Light Theme */
    --color-very-light-gray: hsl(0, 0%, 98%);
    --color-very-light-grayish-blue: hsl(236, 33%, 92%);
    --color-light-grayish-blue: hsl(233, 11%, 84%);
    --color-dark-grayish-blue: hsl(236, 9%, 61%);
    --color-very-dark-grayish-blue: hsl(235, 19%, 35%);

    /* Dark Theme */
    --color-very-dark-blue: hsl(235, 21%, 11%);
    --color-very-dark-desaturated-blue: hsl(235, 24%, 19%);
    --color-light-grayish-blue-dark: hsl(234, 39%, 85%);
    --color-light-grayish-blue-hover: hsl(236, 33%, 92%);
    --color-dark-grayish-blue-dark: hsl(234, 11%, 52%);
    --color-very-dark-grayish-blue-dark-1: hsl(233, 14%, 35%);
    --color-very-dark-grayish-blue-dark-2: hsl(237, 14%, 26%);
}
/* ------------------------ END Colors ------------------- */

.todo-app {
  background-color: var(--color-very-light-gray);
  height: 800px;
}
.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.dark-mode .hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.mobile-hero {
  display: none;
}
.todo-app-wrapper {
  width: 100%;
  max-width: 33.75rem;
  margin: 0 auto;
  position: relative;
}
.light-mode-icon {
  display: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header h1 {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 15px;
  margin-top: 4.375rem;
}
.header button {
  margin-top: 4.375rem;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.todo-form input {
  width: 100%;
  max-width: 33.75rem;
  height: 4rem;
  border-radius: .40rem;
  padding: 1.25rem 19.5rem 1.25rem 1.5rem;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  background-color: #fff;
  border: #fff;
}
.todo-list-wrapper {
  width: 100%;
  max-width: 33.75rem;
  height: auto;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  background-color: #fff;
  border-radius: .40rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.todo-list {
  display: flex;
  flex-direction: column;
  padding: 1.25rem 0 1rem 1.5rem;
  gap: 1.313rem;
}
.todo-list li {
  color: var(--color-very-dark-grayish-blue);
  font-size: 1.125rem;
  font-weight: 400;
  display: flex;
  cursor: pointer;
  align-items: center;
  border-bottom: 1px solid var(--color-very-light-grayish-blue);
  padding-bottom: 1.25rem;
  position: relative;
}
.todo-list li:hover {
  font-weight: 700;
}
.todo-list li input[type="checkbox"] {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid var(--color-very-light-grayish-blue);
  margin-right: 1rem;
  cursor: pointer;
  outline: none;
  position: relative;
  background-color: #fff; 
}
.todo-list li input[type="checkbox"]:checked::after {
    content: url('images/icon-check.svg');
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.todo-list li input[type="checkbox"]:checked {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%)); 
  border: none; 
}

.delete-btn {
  border: none;
  background: none;
  cursor: pointer;
  margin-left: auto;
  display: none;
  position: absolute;
  right: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.todo-list li:hover .delete-btn {
  display: block;
  opacity: 1;
}
.todo-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.50rem;
  flex-wrap: wrap;

}
.todo-footer p {
  font-size: 0.875rem;
  color: var(--color-dark-grayish-blue);
  font-weight: 400;
}
.todo-footer p:hover {
  font-weight: 900;
}

.filter-btn 
.blue-btn {
  color: var(--color-bright-blue);
  font-weight: 700;
}
.blue-btn:hover {
  font-weight: 900;
}

.filter-btn {
  display: flex;
  gap: 1.125rem;
  flex-grow: 1;
  justify-content: center;
}

.filter-btn button {
  color: var(--color-dark-grayish-blue);
  font-weight: 700;
  font-size: 0.875rem;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.filter-btn button:hover {
  color: black;
  font-weight: 400;
}

.todo-footer > button:last-of-type {
  color: var(--color-dark-grayish-blue);
  font-size: 0.875rem;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
.mobile-todo-footer{
  display: none;
}

/*  ---------------- Dark Mode -------------------- */
 .todo-app.dark-mode {
  background-color: var(--color-very-dark-blue);
}
.dark-mode .todo-form input {
  background-color: var(--color-very-dark-desaturated-blue);
  border: var(--color-very-dark-desaturated-blue);
}
.dark-mode .todo-list-wrapper {
  background-color: var(--color-very-dark-desaturated-blue);
}
.dark-mode .todo-list li {
  color: var(--color-light-grayish-blue-dark);
  border-bottom: 1px solid var(--color-dark-grayish-blue-dark);
}
.dark-mode .todo-list li input[type="checkbox"] {
  border: 1px solid var(--color-dark-grayish-blue-dark);
  background-color: var(--color-very-dark-desaturated-blue); 
}

.dark-mode .todo-footer p {
  color: var(--color-very-dark-grayish-blue-dark-1);
}
.dark-mode .filter-btn button {
  color: var(--color-very-dark-grayish-blue-dark-1);
}
.dark-mode .todo-footer > button:last-of-type {
  color: var(--color-very-dark-grayish-blue-dark-1);
}
/*  ---------------- End Dark Mode -------------------- */


/* ------------- media query for mobile (540px) ------------- */
@media only screen and (max-width: 540px) {
  .todo-app {
    padding: 1.5rem;
  }
}
@media only screen and (max-width: 459px) {
  .hero-img {
    display: none;
  }
  .header {
    max-width: 20.438rem;
    margin-bottom: 1.75rem;
  }
  .mobile-hero {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
 .mobile-hero .dark-mode {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
  .header h1 {
    font-size: 1.75rem;
    letter-spacing: 10px;
    margin: 0;
  }
  .header button {
    width: 1.125rem;
    height: 1.125rem;
    margin: 0;
    padding: 0;
  }
  .todo-form input{
    width: 100%;
    max-width: 20.438rem;
    height: 3rem;
    padding-right: 1.5rem;
    margin-top: 0;
  }
  .todo-app-wrapper {
    max-width: 20.438rem;
    padding: 0;
  }
  .todo-list-wrapper {
    padding: 0;
    max-width: 20.438rem;
  }
  .todo-list li {
    font-size: .75rem;
  }
  .delete-btn {
    display: block;
    margin-right: 1.5rem;
    width: 12px;
    height: 12px;
    padding: 0;
    cursor: pointer;
    opacity: 1;
  }
  .todo-list li:hover .delete-btn {
    display: block;
    opacity: 1;
  }
  .todo-footer {
    display: none;
  }
  .mobile-todo-footer {
    display: block;
    flex-direction: column;
    align-items: stretch;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  .mobile-footer-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.25rem;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  .mobile-filter-btn {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    background: #fff;
    padding: .938rem 5rem 1.188rem 5.063rem ;
    gap: .938rem;
  }
  .mobile-todo-footer p {
    font-size: 0.875rem;
    color: var(--color-dark-grayish-blue);
    font-weight: 400;
    padding-left: 1.25rem;
  }
  .mobile-filter-btn .mobile-blue-btn {
  color: var(--color-bright-blue);
  font-weight: 700;
}
  .mobile-filter-btn button {
    color: var(--color-dark-grayish-blue);
    font-weight: 700;
    font-size: 0.875rem;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .mobile-last-btn {
    color: var(--color-dark-grayish-blue);
    font-size: 0.875rem;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    padding-right: 1.25rem;
  }
  .dark-mode  .mobile-footer-info {
    background-color: var(--color-very-dark-desaturated-blue);
  }
  .dark-mode .mobile-filter-btn {
    background-color: var(--color-very-dark-desaturated-blue);
  }
  .dark-mode .mobile-hero {
    display: block;
  }
  .dark-mode .dark-mode-icon {
    display: block;
  }
}


